body {
    background-image: url("grey.jpg");
    width: 100%;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}

.nav a:hover {
    color: #bfbfbf;
}

p {
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 100px;
}

strong {
    color: rgb(221, 25, 25);
    ;
}

.image {
    float: left;
    padding: 0 20px 20px 0;
    bottom: 300px;
    position: absolute;
    width: 400px;
    height: 400px;
}